@model WeatherApp.ViewModels.UserRegistrationViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <fieldset>
        <legend>Please enter Your new Credentials</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (!string.IsNullOrEmpty(Model?.ValidationMessage))  
        {  
            <div style="border: 1px solid red">
                @Model.ValidationMessage
            </div>  
        }
        <table>
            <tr>
                <td>@Html.LabelFor(u => u.Username)</td>
                <td>@Html.TextBoxFor(u => u.Username)</td>
                <td>@Html.ValidationMessageFor(u => u.Username)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.Password)
                </td>
                <td>
                    @Html.PasswordFor(u => u.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Password)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(u => u.ConfirmPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Sign Up" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
    @Html.ActionLink("Or click here to get back to login page", "Login")
}

