@model WeatherApp.ViewModels.WeatherViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @using (Html.BeginForm("AdminPanel", "Home", FormMethod.Post))
    {
    <div>
        Hi! Todays weather in @Model.Location:

        <ul>
            <li>Temp: @Model.Temperature</li>
            <li>pressure: @Model.Pressure</li>
            <li>humidity: @Model.Humidity</li>
            <li>temp_min: @Model.MinTemperature</li>
            <li>temp_max: @Model.MaxTemperature</li>
        </ul>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(w => w.Id)
        @Html.HiddenFor(w => w.CityId)
        <input type="submit" value="Refresh" />
    </div>
    }
</body>
</html>
