@model WeatherApp.ViewModels.WeatherViewModel

@{
    ViewBag.Title = "Administrative panel";
}


<h2>@Model.Location</h2>
<div class="row">
    <div class="col-md-8">
        @Html.Partial("_DisplayWeather")
        <div class="form-group">
            @using (Html.BeginForm("AdminPanel", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(w => w.Id)
                @Html.HiddenFor(w => w.CityId)
                <input type="submit" value="Refresh" class="btn btn-default"/>
            }
        </div>
    </div>
</div>

