@model WeatherApp.ViewModels.WeatherViewModel

@{
    ViewBag.Title = "User panel";
}

<div>
    Hi! Todays weather in @Model.Location:

    <ul>
        <li>Temp: @Model.Temperature</li>
        <li>pressure: @Model.Pressure</li>
        <li>humidity: @Model.Humidity</li>
        <li>temp_min: @Model.MinTemperature</li>
        <li>temp_max: @Model.MaxTemperature</li>
    </ul>
</div>

