@model WeatherApp.ViewModels.UserLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Please enter Your Credentials</legend>
        
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);
        
        @if (@ViewBag.Message != null)  
        {  
            <div style="border: 1px solid red">  
                @ViewBag.Message  
            </div>  
        }  
        <table>  
            <tr>  
                <td>@Html.LabelFor(u => u.UserName)</td>  
                <td>@Html.TextBoxFor(u => u.UserName)</td>  
                <td>@Html.ValidationMessageFor(u => u.UserName)</td>  
            </tr>  
            <tr>  
                <td>  
                    @Html.LabelFor(u => u.Password)  
                </td>  
                <td>  
                    @Html.PasswordFor(u => u.Password)  
                </td>  
                <td>  
                    @Html.ValidationMessageFor(u => u.Password)  
                </td>  
            </tr>  
            <tr>  
                <td></td>  
                <td>  
                    <input type="submit" value="Sign In" />  
                </td>  
                <td></td>  
            </tr>  
        </table>  
    </fieldset>
    @Html.ActionLink("Or click here to create new account", "Register")
}

